@import "../../../../assets/css/_mixins";

.first-section {
  background-image: url("../../../../assets/images/main-page-images/bg/Background-desktop.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 24px 0;
  height: 100vh;

  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    /*     @include tablet-small {
      flex-direction: column;
      align-items: center;
    } */
  }

  &__logo {
    min-width: 186px;
    min-height: 32px;
    margin-top: 48px;
  }

  &__title {
    margin-top: 160px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 32px;
    line-height: 140%;
    text-align: center;
    color: var(--base-gray-100);
  }
  &__title-span {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 32px;
    line-height: 140%;
    text-align: center;
    color: var(--product-blue-light);
  }

  &__subtitle {
    margin-top: 8px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: var(--base-gray-200);
  }
}
