@import '../../../../assets/css/_mixins';

.first-section {
  background-image: url("../../../../assets/images/main-page-images/bg/Background-desktop.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 24px 0;
  height: 100vh;

  &__content {
    display: flex;
    justify-content: space-between;

/*     @include tablet-small {
      flex-direction: column;
      align-items: center;
    } */
  }

  &__cup-img {
    height: 360px;
    width: 476px;
    object-fit: cover;

/*     @include homepage-media-breakpoint-1 {
      height: 288px;
      width: 381px;
    }

    @include tablet {
      display: none;
    }

    @include tablet-small {
      display: unset;
      width: clamp(319px, -1.083rem + 69.44vw, 516px);
      height: clamp(241px, -0.792rem + 52.43vw, 390px);
      margin-top: 38px;
    }

    @include phone {
      height: 241px;
      width: 319px;
    } */
  }
}
