@import '../../../../../../assets/css/mixins';

.details-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;

  &__desc-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__svg-icon {
    min-height: 32px !important;
    min-width: 32px !important;
    path {
      fill: #3b3b55;
    }
    @include tablet-small {
      height: 24px !important;
      width: 24px !important;
      min-height: 24px !important;
      min-width: 24px !important;
    }
  }

  &__desc {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    color: var(--base-gray-200);
  }

  &__value {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: var(--base-gray-100);
    @include tablet-small {
      font-size: 16px;
    }
  }

  &__value-span {
    font-size: 16px;
  }
}
