.grid-item {
  display: flex;
  align-items: center;
  gap: 12px;

  &__svg {
    width: 32px;
    height: 32px;
  }

  &__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: var(--text);
  }
}
