html, body {
font-family: var(--font-family);
color: var(--base-gray-100);
background-color: var(--base-gray-900);
}

body.lock {
overflow: hidden;
}

.container {
max-width: 100%;
padding: 0 24px;


// @include tablet {
//   padding: 0 39px;
// }
//
// @include mobile {
//   padding: 0 31px;
// }
}

.none {
display: none !important;
}