@import '../../assets/css/mixins';
html, body {
font-family: var(--font-family);
color: var(--base-gray-100);
background-color: var(--base-gray-900);
}

body.lock {
overflow: hidden;
}

.container {
max-width: 1366px;
padding: 0 24px;
margin: 0 auto;
flex-grow: 1;

@include phone {
  padding: 0 32px;
}
}

.none {
display: none !important;
}