

:root { 
    /* start of base */
    /* base colors */
    --base-gray-900: #13131a;
	--base-gray-800: #16161f;
	--base-gray-700: #1c1c27;
	--base-gray-600: #1e1e29;
	--base-gray-500: #3b3b54;
	--base-gray-400: #7f7f98;
	--base-gray-300: #ababc4;
	--base-gray-200: #bfbfd4;
	--base-gray-100: #fafafa;
	--base-white: #fff;
	--product-blue-light: #8fb2f5;

    /* fonts */
    --font-family: "Nunito", sans-serif;
    --second-family: "Roboto", sans-serif;
    --third-family: "Roboto Condensed", sans-serif;
/*     .dark {
        // dark mode base
    } */
}