@import '../../../../assets/css/mixins';
.first-section {
  padding: 24px 0;
  height: 100vh;
  display: flex;
  align-items: center;
  @include desktop-small {
    align-items: unset;
    height: unset;
    padding: 24px 0;
  }
  @include phone {
    padding: 8px 0;
  }
  &__content {
    display: flex;
    align-items: center;
    gap: 24px;
    @include desktop-small {
      flex-direction: column;
      align-items: unset;
    }
    @include phone {
      gap: 8px;
    }
  }
  &__main-left-wrapper {
    max-width: 664px;
    height: 100%;
    padding: 16px;
    background: var(--base-gray-800);
    border-radius: 12px;
    flex-grow: 1;
    /* flex-shrink: 0.2; */
    flex-basis: 30%;
    @include desktop-small {
      max-width: 100%;
    }
    @include phone {
      padding: 12px;
    }
    
  }
  &__search-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    @include phone {
      gap: 8px;
    }
  }
  &__logo {
    min-width: 56px;
    min-height: 56px;
    padding: 8px;
    border-radius: 8px;
    background: var(--base-gray-600);
  }
  &__main-right-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 630px;
    flex-grow: 1;
    gap: 16px;
    /* flex-shrink: 0.2; */
    /* flex-basis: 1; */
    @include desktop-small {
      max-width: 100%;
      gap: 24px;
    }
    @include phone {
      gap: 8px;
    }
  }
}