@import '../../../assets/css/mixins';
.сlock {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  color: var(--base-gray-100);
  @include tablet-small {
    font-size: 14px;
  }
  @include phone {
    font-size: 12px;
  }
}
