@import '../../../assets/css/mixins';
.сlock {
  font-family: var(--font-family);
  width: 53px;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  color: var(--base-gray-100);
  flex-shrink: 0;
  @include tablet-small {
    font-size: 14px;
    width: 37.5px;
  }
  @include phone {
    font-size: 12px;
    width: 32px;
  }
}
